{% extends "main.html" %}
{% block content %}
<style>
    .home-title {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    .home-info-text {
        margin-bottom: 60px;

    }
    .category-li {
        margin: 10px;
        text-transform: uppercase;
    }
    .a-cat {
        text-decoration: none;
        font-size: 1.4rem;
    }
    
</style>


<h2 class="home-title">Choose A Category</h2>
<p class="home-info-text">Choose a category in order to start playing hangman. The word will be picked randomly from the category you will chose.</p>
<ul>

    {% for c in categories %}
    <li class="category-li"><a class="a-cat" href="category/{{c.id}}">{{c.name}}</a></li>
    {% endfor %}
</ul>



{% endblock %}