{% extends "main.html" %}
{% block content %}
<style>
    .word-container {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .letter-container {
        position: relative;
        margin: 10px;
    }
    .letter-box {
        font-size: 2.4rem;
        margin: 10px;
        min-width: 50px;
        text-align: center;
        opacity: 0.5;
    }
    .bottom-line {
        content: "";
        padding: 1px;
        background-color: aqua;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-top: 10px;
    }
    .red-btn{
        background-color: red;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        margin: 10px;
        background-color: aqua;
        padding: 10px;
        transition: 0.3s;
        border-radius: 10px;
    }
    li:hover{
        background-color: navy;
        color: white;
        cursor: pointer;
        transform: scale(1.2);
    }
</style>


<h2>{{ random_word.text }} -- {{ random_word.text | length }}</h2>
<button class="red-btn">click</button>
<div class="word-container">
    {% for l in random_word.text %}
    <div class="letter-container">
        <p class="letter-box">{{l}}</p>
        <span class="bottom-line"></span>
    </div>
    {% endfor %}
</div>
<ul>
    <li class="a-btn">A</li>
    <li class="b-btn">B</li>
    <li class="c-btn">C</li>
    <li class="d-btn">D</li>
    <li class="e-btn">E</li>
    <li class="f-btn">F</li>
    <li class="g-btn">G</li>
    <li class="h-btn">H</li>
    <li class="i-btn">I</li>
    <li class="j-btn">J</li>
    <li class="k-btn">K</li>
    <li class="l-btn">L</li>
    <li class="m-btn">M</li>
    <li class="n-btn">N</li>
    <li class="o-btn">O</li>
    <li class="p-btn">P</li>
    <li class="q-btn">Q</li>
    <li class="r-btn">R</li>
    <li class="s-btn">S</li>
    <li class="t-btn">T</li>
    <li class="u-btn">U</li>
    <li class="v-btn">V</li>
    <li class="w-btn">W</li>
    <li class="x-btn">X</li>
    <li class="y-btn">Y</li>
    <li class="z-btn">Z</li>
</ul>


<script>
    const btn = document.querySelector('.red-btn')
    window.addEventListener('click', (e) => {
        console.log(random_word.text)
        if(e.target===btn){
            btn.style.backgroundColor = "blue";
        }
    })
</script>
{% endblock %}